<header>
<h1 class="text-center m-4"></h1>
</header>

<div class="container">
<div class="row">
<form action="/admin/edit" method="POST" background="https://funart.pro/uploads/posts/2020-04/1587325118_16-p-belie-foni-30.jpg">
<input name="id" hidden value="{{id}}">

<div>
<p style="text-align: center;">Название</p>
<input style="width:400px; " id="title" name="title" value="{{title}}">
</div>

<div>
<p style="text-align: center;">Описание</p>
<textarea style="width:400px; height:250px" id="text" name="text">{{text}}</textarea>
</div>
<div>
<p style="text-align: center;">Ключевые слова</p>
<textarea style="width:400px; height:150px" id="predtext" name="predtext" >{{predtext}}</textarea>
</div>
<div>
<button type="reset">Очистить</button>
<button>Сохранить</button>
</div>
</form>
</div>
</div>