<header>
<h1 class="text-center m-4">Заметки</h1>
</header>

<div class="container">
<div class="row">
{{#each notes}}

<div class="col-sm-6 p-2">
<div class="card">
<div class="card-body">
<h5 class="card-title">{{title}}</h5>
<p class="aligncenter">
<img style="width: 500px; height:380px; " src="{{image}}"> </p>
<p class="card-text">{{predtext}}</p>
<a href="/info/{{id}}" class="btn btn-info">Подробнее</a>
</div>
</div>
</div>
{{/each}}

</div>
</div>