<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Заметки</title>
</head>

<body>
<header>
<h1>Заметки</h1>
</header>

<div></div>

<footer>
<p>&COPY; NGrigorev</p>
</footer>
</body>

</html>