
<header>
  
<h1 class="text-center m-4">{{title}}</h1>

</header>

<div  class="container">
    <div class="row">
        <div class="text-center col-12"> 
            <div class="p-3 " > </div>  <img class="leftimg" class="rounded imgbox" src="{{image}}">
            <p class="line" style="text-align: left;" class="blocktext">{{text}}</p>  </div> 
                <div class="col-12">
                    <div class="p-3 ">
                       
                    </div> 
                </div>    
        </div>   
</div>


